<div class="right_col" role="main">
  <div class="">
    <div class="clearfix">
      <h2>Programming Contest <small>/Edit Team</small></h2>
      <br />
      <% if (error.length>0) {%>
        <div class="alert alert-danger">
          <%=error%>
        </div>
        <%}%> %>
          <form method="POST" action="/progContest/edit-participant" id="demo-form2" data-parsley-validate
            class="form-horizontal form-label-left">
            <div class="item form-group">

              <div class="col-md-4 col-sm-4">
                <input type="text" name="teamName" required="required" class="form-control" data-toggle="tooltip"
                  title="Team Name" value="<%=participant.teamName%>" readonly />
              </div>

              <div class="col-md-4 col-sm-4">
                <input type="text" id="institute" name="institute" required="required" class="form-control"
                  data-toggle="tooltip" title="Institution Name" value="<%=participant.institute%>" readonly />
              </div>
            </div>


            <label for="first-name">
              <h2>&nbsp;Coach</h2>
            </label>
            <div class="item form-group">
              <div class="col-md-4 col-sm-4">
                <input type="text" id="coachName" name="coachName" required="required" class="form-control"
                  data-toggle="tooltip" title="Coach Name" value="<%=participant.coachName%>"
                  placeholder="Coach Name" />
              </div>

              <div class="col-md-4 col-sm-4">
                <input type="text" id="coachContact" name="coachContact" required="required" class="form-control"
                  data-toggle="tooltip" title="Coach Contact No." placeholder='Coach Contact No.'
                  value='<%=participant.coachContact%>' />
              </div>
              <div class="col-md-4 col-sm-4">
                <input type="text" id="coachEmail" name="coachEmail" required="required" class="form-control"
                  data-toggle="tooltip" title="Coach Email" value="<%=participant.coachEmail%>"
                  placeholder="Coach Email" />
              </div>

            </div>
            <label for="first-name">&nbsp; T-Shirt Size of the Coach
            </label>
            <div class="item form-group">

              <div class="col-md-4 col-sm-4">
                <select class="form-control" id="coachTshirt" name="coachTshirt">
                  <option value="<%=participant.coachTshirt%>">
                    <%=participant.coachTshirt%>
                  </option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                  <option value="XL">Extra Large</option>
                </select>
              </div>
            </div>
            <br />

            <label for="first-name">
              <h2>&nbsp;Team Leader</h2>
            </label>
            <div class="item form-group">
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TLName" name="TLName" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Leader Name" value="<%=participant.TLName%>"
                  placeholder="Team Leader Name" />
              </div>

              <div class="col-md-4 col-sm-4">
                <input type="text" id="TLContact" name="TLContact" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Leader Contact No." value='<%=participant.TLContact%>'
                  placeholder='Team Leader Contact No.' />
              </div>
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TLEmail" name="TLEmail" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Leader Email" value="<%=participant.TLEmail%>"
                  placeholder="Team Leader Email" />
              </div>

            </div>
            <label for="first-name">&nbsp; T-Shirt Size of Team Leader
            </label>
            <div class="item form-group">

              <div class="col-md-4 col-sm-4">
                <select class="form-control" id="TLtshirt" name="TLtshirt">
                  <option value="<%=participant.TLtshirt%>">
                    <%=participant.TLtshirt%>
                  </option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                  <option value="XL">Extra Large</option>
                </select>
              </div>
            </div>

            <br />
            <label for="first-name">
              <h2>&nbsp;Team Member 1</h2>
            </label>
            <div class="item form-group">
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM1Name" name="TM1Name" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 1 Name" value="<%=participant.TM1Name%>"
                  placeholder="Team Member 1 Name" />
              </div>

              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM1Contact" name="TM1Contact" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 1 Contact No." value="<%=participant.TM1Contact%>"
                  placeholder='Team Member 1 Contact No.' />
              </div>
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM1Email" name="TM1Email" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 1 Email" value="<%=participant.TM1Email%>"
                  placeholder="Team Member 1 Email" />
              </div>

            </div>
            <label for="first-name">&nbsp; T-Shirt Size of Team Member 1
            </label>
            <div class="item form-group">

              <div class="col-md-4 col-sm-4">
                <select class="form-control" id="TM1tshirt" name="TM1tshirt">
                  <option value="<%=participant.TM1tshirt%>">
                    <%=participant.TM1tshirt%>
                  </option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                  <option value="XL">Extra Large</option>
                </select>
              </div>
            </div>

            <br />

            <label for="first-name">
              <h2>&nbsp;Team Member 2</h2>
            </label>
            <div class="item form-group">
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM2Name" name="TM2Name" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 2 Name" value="<%=participant.TM2Name%>"
                  placeholder="Team Member 2 Name" />
              </div>

              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM2Contact" name="TM2Contact" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 2 Contact No." value="<%=participant.TM2Contact%>"
                  placeholder='Team Member 2 Contact No.' />
              </div>
              <div class="col-md-4 col-sm-4">
                <input type="text" id="TM2Email" name="TM2Email" required="required" class="form-control"
                  data-toggle="tooltip" title="Team Member 2 Email" value="<%=participant.TM2Email%>"
                  placeholder="Team Member 2 Email" />
              </div>

            </div>
            <label for="first-name">&nbsp; T-Shirt Size of Team Member 2
            </label>
            <div class="item form-group">

              <div class="col-md-4 col-sm-4">
                <select class="form-control" id="TM2tshirt" name="TM2tshirt">
                  <option value="<%=participant.TM2tshirt%>">
                    <%=participant.TM2tshirt%>
                  </option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                  <option value="XL">Extra Large</option>
                </select>
              </div>
            </div>


            <div class="ln_solid"></div>
            <div class="item form-group">
              <div class="col-md-6 col-sm-6 offset-md-3">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>

    </div>
  </div>
</div>
</div>